<h2>Welcome, <%= @profile.display_name %>!</h2>

<h3>Recently Added Playlists</h3>

<ul>
<%= for playlist <- @playlists do %>
  <li>
    <%= playlist.name %>
    <a href="<%= Routes.dashboard_playlist_path(@conn, :show, playlist) %>">
      Join
    </a>
  </li>
<% end %>
</ul>
